<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DeviceMapper">
    <insert id="createDevice" parameterType="com.example.demo.pojo.Device">
        INSERT INTO device (client_id, device_name)
        VALUES (#{clientId}, #{deviceName})
    </insert>

    <update id="updateDevice" parameterType="com.example.demo.pojo.Device">
        UPDATE device
        SET client_id = #{clientId}, device_name = #{deviceName}
        WHERE id = #{id}
    </update>

    <delete id="deleteDevice" parameterType="int">
        DELETE FROM device
        WHERE id = #{clientId}
    </delete>

    <select id="getDeviceById" parameterType="int" resultType="com.example.demo.pojo.Device">
        SELECT id, client_id, device_name
        FROM device
        WHERE id = #{clientId}
    </select>
    <select id="countsHasSameId" parameterType="string" resultType="int">
        SELECT COUNT(*) AS count
        FROM device
        WHERE client_id = #{clientId};
    </select>
    <select id="selectIdByClientId" parameterType="string" resultType="int">
        SELECT id FROM device WHERE client_id = #{clientId}
    </select>
</mapper>